.cardContainer {
 /* border: solid 2px #21f3d0 ; */
 border: solid 4px black ;
 background-color: rgb(171, 16, 16);
 position: relative;
width: 300px;
height: 330px;
margin: 12px;
display: flex;  
flex-direction: column;
justify-content: flex-start;
align-items: center;
/* background-color: transparent; */
border-radius: 5px;
/* padding: 25px; */
position: relative;

}

/* img{
    height: 100px;
    width: 200px;
    display: flex; */
    /* flex-direction: column;
    justify-content: flex-start; */
    /* align-items: center; */
    /* margin-bottom: 10px;
    background-size: contain;
 } */

 /* .card{ */
    /* border: 5px solid black; */
    /* color: pink;
    width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
    margin: 30px;
   line-height: 2.5em;
   font-size: 20px */
 /* } */
 /* .card{
width: auto;
    border: solid 5px black;
    display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: relative;
 } */

.cardin{
   width: 100%;
   /* border: 5px solid yellow; */
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   text-align: center;
   font-weight: bolder;
   background-color: rgb(171, 16, 16);
   /* color: #21f3d0; */
   color: black;
   position: relative;

   & img{
    height: 200px;
    width: 100%;
    display: flex;
    /* flex-direction: column;
    justify-content: flex-start; */
    /* align-items: center; */
    margin-bottom: 10px;
    background-size: contain;
 }
}
 .Link{
  
  padding-bottom: 0%;
  text-decoration: none;
  /* background-color: blue; */

 } 

 .name{
   font-size: 30px;
   font-family:'Offside', cursive;
 }

 .genres{
   font-size: large;
 }

.cardContainer:hover {
  transform: translate(-0.7rem, -0.7rem);
}

/* .cardin:hover .content {
  transform: translate(3.5rem, 3.5rem);
} */


/* 
 .button{
   display: inline-flex;
    width: 200px;
    margin: 2em auto 1em;
    
    justify-content: flex-end;
    align-content: end;
    text-align: center;
    font-size: 30px;
    color:black;
    line-height: 1;
    border: 5px solid black;
    font-weight: 700;
 position: relative;
   }

.buttonin{
   color: azure;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
} */