.NavBar{
    /* background-color: rgb(112, 112, 254); */
    background-image: url("../../../assets/form/pattern.jpeg"); 
    /* background-color: rgba(53, 53, 159, 0.968); */
   display: flex;
    justify-content: center;
    border: solid 1px;
    
    /* height: 80px; */
    /* margin-bottom: 9px; */
}
.titleHome{
  color: black;
 background-color: rgb(226, 226, 225);
  font-family:'Offside', cursive;
  text-align: center;
  font-size: 35px;
  font-weight:bolder;
  margin-top: 8px;
  margin-left: 200px;
   margin-right: 200px;
  letter-spacing: 2px;
  /* word-spacing: 4px; */
  border: solid 3px;
  height: 50px;
  
}

.link{
    background-color: rgb(226, 226, 225);
    margin: 4px;
    width: 80px;
    height: 45px;
   text-align: center;
    padding-top: 9px;
    border: solid 3px;
    color: black;
    font-size: large;
    font-weight: bolder;
    text-decoration: none;
    font-family:'Offside', cursive;
     margin-top: 10px;
}

.link:hover{
    /* background-color: whitesmoke; */
    opacity: 0.8;
}

.linkdatabase{
    background-color: rgb(226, 226, 225);
    margin-top: 10px;
    width: 200px;
    height: 45px;
   text-align: center;
    padding-top: 9px;
    border: solid 3px;
    color: black;
    font-size: medium;
    font-weight: bolder;
    text-decoration: none;
    font-family:'Offside', cursive;
    
}

.linkdatabase:hover{
    /* background-color: whitesmoke; */
    opacity: 0.8;
}